<div class ="container">
  <footer class="footer">
    <small>
      footer info here
    </small>
    <nav>
      <ul>
        <li><%= link_to "about", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
